DIV.gridbox_dhx_skyblue .xhdr {
	BACKGROUND-IMAGE: url(../../images/imgs/sky_blue_grid.gif)
}
DIV.gridbox_dhx_skyblue TABLE.hdr TR {
	BACKGROUND-IMAGE: url(../../images/imgs/sky_blue_grid.gif); BACKGROUND-POSITION: 0px -1px
}
UNKNOWN {
	BACKGROUND-IMAGE: url(../../images/imgs/sky_blue_grid.gif); BACKGROUND-POSITION: 0px -1px
}
DIV.gridbox_dhx_skyblue TABLE.obj TR TD {
	BORDER-RIGHT-WIDTH: 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; FONT-FAMILY: Tahoma; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 11px; BORDER-LEFT-WIDTH: 0px
}
DIV.gridbox_dhx_skyblue TABLE.hdr TD DIV.hdrcell {
	PADDING-LEFT: 10px; WIDTH: auto
}
HTML > BODY DIV.gridbox_dhx_skyblue TABLE.hdr TD DIV.hdrcell {
	
}
DIV.gridbox_dhx_skyblue TABLE.hdr TD {
	BORDER-BOTTOM-COLOR: #a4bed4; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 1px; BACKGROUND-COLOR: transparent; BORDER-TOP-COLOR: #fdfdfd; FONT-FAMILY: Tahoma; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; COLOR: black; BORDER-RIGHT-COLOR: #a4bed4; FONT-SIZE: 11px; VERTICAL-ALIGN: center; BORDER-LEFT-COLOR: #fdfdfd; BORDER-LEFT-WIDTH: 1px
}
DIV.gridbox_dhx_skyblue {
	BORDER-BOTTOM: #a4bed4 1px solid; BORDER-LEFT: #a4bed4 1px solid; BORDER-TOP: #a4bed4 1px solid; BORDER-RIGHT: #a4bed4 1px solid
}
DIV.gridbox TABLE.obj TR TD {
	PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
* HTML .gridbox .obj TD {
	HEIGHT: auto
}
DIV.gridbox TABLE.row20px.obj TR TD {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.gridbox TABLE.obj TR TD.editable {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV.gridbox TABLE.obj TR TD.editable DIV.treegrid_cell {
	PADDING-LEFT: 4px; PADDING-TOP: 1px
}
DIV.gridbox_dhx_skyblue TABLE.obj TR.rowselected {
	BACKGROUND-COLOR: #fff1cc
}
DIV.gridbox_dhx_skyblue TABLE.obj TR.rowselected TD {
	BACKGROUND-IMAGE: url(../../images/imgs/sky_blue_sel2.png); BACKGROUND-COLOR: #fff1cc; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: 0px 0px
}
DIV.gridbox_dhx_skyblue TABLE.row20px.obj TR.rowselected TD {
	BACKGROUND-IMAGE: url(../../images/imgs/sky_blue_sel.png); BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: 0px 0px
}
DIV.gridbox_dhx_skyblue TABLE.obj TR.rowselected TD.cellselected {
	BACKGROUND-COLOR: #fff1cc
}
DIV.gridbox_dhx_skyblue .odd_dhx_skyblue {
	BACKGROUND-COLOR: #e3efff
}
.dhx_combo_select {
	FONT-FAMILY: Tahoma; FONT-SIZE: 11px
}
.gridbox_dhx_skyblue .dhx_combo_edit {
	FONT-FAMILY: Tahoma; FONT-SIZE: 11px
}
.gridbox_dhx_skyblue .dhx_textarea {
	FONT-FAMILY: Tahoma; FONT-SIZE: 11px
}
.gridbox_dhx_skyblue .dhx_combo_edit {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 0px; PADDING-TOP: 1px
}
.gridbox_dhx_skyblue .dhx_sub_row {
	BACKGROUND-COLOR: transparent
}
