/*模态窗口设置背景色*/
.modal, .modal>div{background-color: #fcfcfc;}

/*模态框公共样式*/
.modal-util{padding-right:0 !important;background:#fff;overflow:hidden}
.modal-util .modal-header{padding:10px;height:50px;text-align:center}
.modal-util .modal-header span{color:#c9302c;font-size:16px;}
.modal-util .modal-body{overflow-y:scroll;padding:15px;}
.modal-util .modal-footer{text-align:center;padding:8px 10px;margin:0;height:50px}
.modal-util .hide-active{display:none};
.modal-util .show-active{display:inline-block};