/*jqgrid表格去除单元格边框,覆盖ui.jqgrid.css文件样式*/
.ui-jqgrid tr.ui-row-ltr td{border:0!important;}
.ui-jqgrid tr.jqgrow td{border:0!important;height:35px;}

.ui-jqgrid-btable .ui-widget-content.ui-state-highlight {background-color: #E5EBEE!important;}
.ui-jqgrid-sortable{font-size:14px !important;}

/**/
.ui-jqgrid-btable{width: 100%!important;font-size:14px!important}
.ui-jqgrid-labels{width: 100%!important}
.ui-jqgrid .ui-jqgrid-hbox {padding-right: 0px!important;}
/*数据查询中工单进度率2行表头格式*/
.progressRate .ui-jqgrid .ui-jqgrid-labels th{border-right:1px solid #e1e1e1!important;font-size:18px!important;text-align:center!important;height:42px!important;color:#8d4653;background-color:#F2F2F2!important;border-bottom:1px solid #E1E1E1;}
.colorSet .ui-jqgrid .ui-jqgrid-labels th{color:#777!important;font-size:14px!important;}
.progressRate .ui-jqgrid .ui-jqgrid-htable th div{padding-top:6px!important}
.progressRate .ui-jqgrid .ui-jqgrid-view{font-size:12px!important;}

/*jqgrid中奇偶行颜色样式不同*/
.ui-jqgrid-btable .ui-widget-content.ui-priority-secondary{background-color:#f0ffff}
.ui-jqgrid-btable .ui-widget-content.ui-state-hover{background-color:#e6e6fa}

/*.ui-jqgrid .ui-jqgrid-sortable{text-align:left;}*/
.ui-jqgrid .ui-jqgrid-sortable:nth-child(1){text-align:center;}

.ui-jqgrid-hbox,.ui-jqgrid-hbox > .ui-jqgrid-htable,
.ui-jqgrid,.ui-jqgrid-view,
.ui-jqgrid-hdiv,
.ui-jqgrid-bdiv,
.ui-jqgrid-pager{width:100%!important;}

/*jqgrid表格行中操作按钮样式*/
.grid-oper-button a{margin: 0; display: inline-block; opacity: .85; -webkit-transition: all .1s; transition: all .1s; cursor: pointer; width:60px; min-width: 60px; border-right: 1px solid #000; text-align: center;}
.grid-oper-button a:first-of-type{margin-left: 5px;}
.grid-oper-button a:last-child{border-right: 0;}

/*采集类--合并单元格后加上单元格border*/
.collect-border .ui-jqgrid tr.jqgrow td{border-left:1px solid #ddd !important;border-bottom:1px solid #ddd !important;}

/*禁止表格下方水平滚动条*/
.ui-jqgrid-bdiv{overflow-x: hidden!important}

/*jqgrid表格的样式*/
.ui-jqgrid tr.jqgrow td{border:1px solid #BBBBBA!important;}

/*loading*/
.ui-jqgrid .loading {top:100px !important;}
.ui-jqgrid .ui-widget-overlay{background:rgba(255,255,255,0) !important;}